<!DOCTYPE html>
<html style="height: 100%;">
<head>
  <title>Kendriya Vidyalaya</title>
  {% block js %}
  <script src="{{STATIC_URL}}js/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="{{STATIC_URL}}js/jquery-collision.min.js"></script> -->
  <script src="{{STATIC_URL}}js/bootstrap3.3.7.min.js"></script>
  <script src="{{STATIC_URL}}js/jquery.datetimepicker.full.min.js"></script>
  <script src="{{STATIC_URL}}js/jquery-ui.min.js"></script>
  {% endblock %}

  {% block css %}
  <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap3.3.7.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.datetimepicker.min.css" />
  <link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css" />
  <link rel="stylesheet" href="{{STATIC_URL}}css/library.css" />
  {% endblock %}
</head>
<body style="height: 100%;">
  {% block content %}
  {% endblock %}
  </script>
</body>
</html>